#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
body {
  background: linear-gradient(135deg, #1e1e2f, #27293d);
  
}

h1 {
  font-size: 42px;
  margin-bottom: 50px;
  color: #fff;
}

.container {
  width: 400px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 20px 40px #000001;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
}


.display {
  background-color: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  padding: 20px;
  border-radius: 12px;
  font-size: 26px;
  margin-bottom: 15px;
  height: 60px;
  text-align: right;
  font-weight: bold;
}

.display .result {
  font-size: 18px;
  color: #ffff;
  font-weight: normal;
  margin-top: 5px;
}


.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
}

button {
  padding: 22px;
  font-size: 22px;
  border: none;
  border-radius: 14px;
  background: #2f2f46;
  color: #fff;
  box-shadow: 4px 4px 10px #1a1a2e,;
  transition: all 0.2s ease;
}

button:hover {
  background: #404060;
  transform: translateY(-2px);
}

button:active {
  transform: scale(0.96);
  box-shadow: inset 2px 2px 6px #1a1a2e;
}

button:nth-child(4),button:nth-child(8),button:nth-child(12),button:nth-child(16) {
  background:#ff9800;
  color: #fff;
  font-weight: bold;
}

button:nth-child(4):hover,button:nth-child(8):hover,button:nth-child(12):hover,button:nth-child(16):hover {
  background: #ffb74d;
}

button:nth-child(17),
button:nth-child(18) {
  grid-column: span 2;
  background: #3f51b5;
  color: white;
  font-weight: bold;
}

button:nth-child(17):hover,
button:nth-child(18):hover {
  background: #5c6bc0;
}



